Repository DLR-AMR/t8code, pull requests merged in 2024-09, with the labels that each got.

#1230 Add option to export cmake compile commands
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  example/CMakeLists.txt
  src/CMakeLists.txt
  test/CMakeLists.txt
  tutorials/CMakeLists.txt
Labels: New feature, shouldn't take long, priority: medium, workload: low, CMake

#1235 Retain source folder structure for CMake build
  benchmarks/CMakeLists.txt
  example/CMakeLists.txt
  test/CMakeLists.txt
  tutorials/CMakeLists.txt
Labels: priority: medium, workload: low, CMake

#1242 Fix const expr compilation errors
  src/t8_cmesh/t8_cmesh_examples.cxx
  src/t8_geometry/t8_geometry_implementations/t8_geometry_examples.cxx
Labels: shouldn't take long, fix, priority: high, workload: low

#1246 Fix a typo
  example/IO/cmesh/gmsh/t8_read_msh_file.cxx
  example/IO/forest/gmsh/t8_gmsh_to_vtk.cxx
Labels: examples, shouldn't take long, Typos, priority: low, workload: low

#1225 Enhance documentation and syntax of findopencascade
  cmake/FindOpenCASCADE.cmake
Labels: shouldn't take long, priority: medium, workload: low, CMake

#1173 Feature multiple attributes ghost commit from stash
  src/CMakeLists.txt
  src/Makefile.am
  src/t8_cmesh/t8_cmesh_commit.cxx
  src/t8_cmesh/t8_cmesh_examples.cxx
  src/t8_cmesh/t8_cmesh_trees.cxx
  src/t8_cmesh/t8_cmesh_trees.h
  src/t8_forest/t8_forest.cxx
  src/t8_geometry/t8_geometry_with_vertices.cxx
  test/t8_cmesh/t8_gtest_cmesh_partition.cxx
  test/t8_cmesh/t8_gtest_cmesh_set_join_by_vertices.cxx
  test/t8_cmesh/t8_gtest_multiple_attributes.cxx
  test/t8_cmesh_generator/t8_cmesh_parametrized_examples/t8_cmesh_new_hypercube_param.hxx
Labels: next release, priority: high, workload: medium

#1232 Add CI test for t8code with shipped submodules
  .github/workflows/ci_playground.yml
  .github/workflows/tests_cmake_t8code_w_shipped_submodules.yml
  .github/workflows/tests_cmake_testsuite.yml
Labels: CI, priority: low, workload: low, CMake

#1251 Copy tutorial files with cmake
  tutorials/CMakeLists.txt
Labels: CMake

#1254 Package source files and update actions
  .github/workflows/build_cmake_tarball.yml
  CMakeLists.txt
  cmake/CPackConfig.cmake
  cmake/GitProjectVersion.cmake
Labels: CMake

#1256 Pack opimization
  src/t8_data/t8_data_handler.hxx
  src/t8_data/t8_data_handler_base.hxx
  src/t8_data/t8_data_packs/t8_enlarged_stdtypes.hxx
  test/t8_data/t8_gtest_data_handler.cxx
  test/t8_data/t8_pseudo_trees.hxx
Labels: draft, Follow-up PR, C++
